.chat-services{
    transition: .5s;
    max-height: 0;
  }
  .chat-services.expand{
    max-height: 350px;
  }
  .message {
    max-width: 250px;
  }

  .chat-modal{
    transition: .5s;
    opacity: 0;
    transform: translateX(500px);
  }

  .chat-modal.show{
    opacity: 1;
    transform: translateX(0);
  }